.about {
    text-align: center;

    img {
        max-width: 120px;
    }

    .logo-description {
        color: $color-violet;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

}
