.main-nav {
    position: fixed;
    top: 0;
    padding: 10px 0;
    width: 100%;
    background-color: #fff;
    z-index: 1;
    
    
    .container {
        @include flex;
        justify-content: flex-start;
        align-items: center;
    }

    .logo-img {
        height: 80px;
    }

    .navbar-nav {
        @include flex;
        
        .nav-item {
            padding: 15px 20px;
            margin: 5px;
        }
        .nav-link {
            color: $color-violet;
            text-transform: uppercase;
            font-weight: 700;
            transition: all 0.3s;
        }
        .nav-link:hover {
            color: $color-blue;
        }
    }
}

@media (max-width: 992px) {
    .main-nav {
        .logo-img {
            height: 60px;
        }
    }
}
@media (max-width: 992px) {
    .main-nav {
        .navbar-nav {
            display: none;
        }

        .navbar-visible {
            position: fixed;
            top: 0;
            right: 0;
            width: 90%;
            margin: 0;
            background: $color-blue;
            display: block;
            padding: 0;
            text-align: right;
            overflow: auto;

            .nav-item:first-of-type {
                margin-top: 70px;
            }

            .nav-link {
                color: #fff;
                width: 100%;
                display: inline-block;
                padding: 5px 0;
                font-size: $base-font-size * 3;
            } 
        }
        
        .icon-menu-closed {
            display: block;
            margin-left: auto;
            z-index: 3;
        }
    }
}