.card {
    padding: 0 15px;
    position: relative;
    overflow: hidden;


    img {
        width: 100%;
    }

    .card-header {
        font-family: $font-bellota;
        font-size: 22px;
    }

    .card-body {
        border: 1px solid #e9ecef;
        padding: 20px;
        
        .card-description {
            color: $color-dark-gray;
            opacity: 0.5;
            font-weight: 300;
            max-width: 90%;
            margin: 15px auto;
        }
    }
     
}

